body
{
    height: 100vh;
    /* display:grid;
    grid-template-rows: 1fr 8fr 1fr; */

}
.heading
{   
    display: flex;
    margin: 0%;
    background-color: #9d8181;
    justify-content: center;
    align-items: center; 
    flex: 4 0 100%
}
main
{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20% 80%;
}
.notes
{
    height: 100%;
    background-color: #afadad;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
}

div.new_note
{
   background-color: #eae6e6;
   grid-column: 2/3;
   position: relative;
   padding:1rem;
   width: 100%;
   height:100%;

}

.button1, .button3
{
    background-color: #8db596;
    color: white;
    display: inline-flex;
    font-size: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.button2
{
    background-color: #707070;
    color: white;
    display: inline-flex;
    float:right;
    font-size: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.button4
{
    background-color: #ec524b;
    color: white;
    display: inline-flex;
    font-size: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.contain
{
    position: absolute;
    background-color: white;
    font-size: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 85%;
    height:85%;
    justify-content: center;
    align-content: center;
}
.footer
{
    display: flex; 
    flex-direction: column;  
    background-color: #d9adad;
}
img.footer
{
    display: grid; 
    grid-template-columns: 1px,1px;

}
